.action-button {
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  color: #201e43;
  border-radius: 10px;
  text-align: center;
}

.action-button:hover {
  color: #b7abff;
  background-color: rgba(126, 107, 239, 0.04);
  border-radius: 10px;
}

.center {
  text-align: center;
}

.action-bar {
  display: flex;
  gap: 0 10px;
  justify-content: center;
}

.image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 4px;
  display: inline;
  vertical-align: middle;
}
